### Lists and Tuples

In [2]:
my_list=['hello','world']
for e in my_list:
    print (e)

hello
world

In [4]:
my_list.append('My name is : ')
my_list

['hello', 'world', 'My name is : ', 'My name is : ']

In [5]:
my_list.remove('hello')
my_list

['world', 'My name is : ', 'My name is : ']

In [6]:
my_list[1]='Hello'
my_list

['world', 'Hello', 'My name is : ']

In [7]:
my_tuple=('hi','Everyone')
my_tuple

('hi', 'Everyone')

In [11]:
my_tuple.count(1)
my_tuple

('hi', 'Everyone')

### Sets

In [13]:
my_set={1,3,3,3,5,7,9}

In [14]:
print(my_set)

{1, 3, 5, 7, 9}

In [15]:
my_set={3,5,1,7,6,2}
sorted_values=sorted(list(my_set))

In [16]:
print(sorted_values)

[1, 2, 3, 5, 6, 7]

In [17]:
names={'Jose','Rolf','Bob','Jack'}
fake_names={'Rolf','Bob'}
print(names-fake_names)

{'Jack', 'Jose'}

In [18]:
lottery_numbers={1,33,44,2,17}
my_numbers={14,15,16,17,33}
print(lottery_numbers & my_numbers)

{33, 17}

In [19]:
my_friends={'Jack','Anne'}
your_friends={'Bob','Jack','Michael'}
our_friends=my_friends | your_friends

In [20]:
print(our_friends)

{'Jack', 'Anne', 'Michael', 'Bob'}

### Dictionaries

In [22]:
my_friends={
    'Jose':6,
    'Rolf':12,
    'Anne':6
}

In [23]:
for key,value in my_friends.items():
    print(f'I last few {key} {value} days ago')

I last few Jose 6 days ago
I last few Rolf 12 days ago
I last few Anne 6 days ago

### List Comprehension

In [24]:
day_group=[4,7,14,16,28]
weeks=[]
for days in day_group:
    weeks.append(days/7.0)
print(weeks)

[0.5714285714285714, 1.0, 2.0, 2.2857142857142856, 4.0]

In [25]:
day_group=[4,7,14,16,28]
weeks=[days/7.0 for days in day_group if days%7==0]
print(weeks)

[1.0, 2.0, 4.0]

In [26]:
my_friends=['Jose','Jack','Rolf','Joanne']
starting_letters={name[0] for name in my_friends}
print(len(starting_letters))

2