### Predicting model based on data

In [2]:
import pandas as pd

In [3]:
pd.options.mode.chained_assignment=None

In [6]:
df=pd.read_csv('H:\SELF\Yashu\Book1.csv')

In [7]:
df

,Unnamed: 0,Name,OverallGrade,Obedient,ResearchScore,ProjectScore,Recommend
0,0,Henry,A,Y,90,85,Yes
1,1,John,C,N,85,51,Yes
2,2,David,F,N,10,17,No
3,3,Holmes,B,Y,75,71,No
4,4,Marvin,E,N,20,30,No
5,5,Simon,A,Y,92,79,Yes
6,6,Robert,B,Y,60,59,No
7,7,Trent,C,Y,75,33,No

In [8]:
feature_names=['OverallGrade','Obedient','ResearchScore','ProjectScore']
training_feature=df[feature_names]

In [9]:
outcome_name=['Recommend']
outcome_labels=df[outcome_name]

In [10]:
training_feature

  OverallGrade Obedient  ResearchScore  ProjectScore
0            A        Y             90            85
1            C        N             85            51
2            F        N             10            17
3            B        Y             75            71
4            E        N             20            30
5            A        Y             92            79
6            B        Y             60            59
7            C        Y             75            33

In [11]:
outcome_labels

  Recommend
0       Yes
1       Yes
2        No
3        No
4        No
5       Yes
6        No
7        No

In [12]:
#list down features based on type
numeric_feature_name=['ResearchScore','ProjectScore']
categorical_feature_name=['OverallGrade','Obedient']

In [16]:
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()

In [17]:
#fit scaler on numeric features
ss.fit(training_feature[numeric_feature_name])

c:\users\lenovo\appdata\local\programs\python\python36\lib\site-packages\sklearn\preprocessing\data.py:617: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [19]:
#scale numeric features now
training_feature[numeric_feature_name]=ss.transform(training_feature[numeric_feature_name])

c:\users\lenovo\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:2: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.

In [21]:
#view updated feature set
training_feature

  OverallGrade Obedient  ResearchScore  ProjectScore
0            A        Y       0.899583      1.376650
1            C        N       0.730648     -0.091777
2            F        N      -1.803390     -1.560203
3            B        Y       0.392776      0.772004
4            E        N      -1.465519     -0.998746
5            A        Y       0.967158      1.117516
6            B        Y      -0.114032      0.253735
7            C        Y       0.392776     -0.869179

In [22]:
training_feature=pd.get_dummies(training_feature,
                               columns=categorical_feature_name)

In [24]:
#view newly engineering features
training_feature

,ResearchScore,ProjectScore,OverallGrade_A,OverallGrade_B,OverallGrade_C,OverallGrade_E,OverallGrade_F,Obedient_N,Obedient_Y
0,0.899583,1.376650,1,0,0,0,0,0,1
1,0.730648,-0.091777,0,0,1,0,0,1,0
2,-1.803390,-1.560203,0,0,0,0,1,1,0
3,0.392776,0.772004,0,1,0,0,0,0,1
4,-1.465519,-0.998746,0,0,0,1,0,1,0
5,0.967158,1.117516,1,0,0,0,0,0,1
6,-0.114032,0.253735,0,1,0,0,0,0,1
7,0.392776,-0.869179,0,0,1,0,0,0,1

In [25]:
#get list of new categorical features
categorical_engineered_features=list(set(training_feature.columns)-set(numeric_feature_name))

In [26]:
training_feature

,ResearchScore,ProjectScore,OverallGrade_A,OverallGrade_B,OverallGrade_C,OverallGrade_E,OverallGrade_F,Obedient_N,Obedient_Y
0,0.899583,1.376650,1,0,0,0,0,0,1
1,0.730648,-0.091777,0,0,1,0,0,1,0
2,-1.803390,-1.560203,0,0,0,0,1,1,0
3,0.392776,0.772004,0,1,0,0,0,0,1
4,-1.465519,-0.998746,0,0,0,1,0,1,0
5,0.967158,1.117516,1,0,0,0,0,0,1
6,-0.114032,0.253735,0,1,0,0,0,0,1
7,0.392776,-0.869179,0,0,1,0,0,0,1

### Modeling

In [27]:
from sklearn.linear_model import LogisticRegression

In [28]:
import numpy as np

In [29]:
#fit the model

In [30]:
lr=LogisticRegression()
model=lr.fit(training_feature,
            np.array(outcome_labels['Recommend']))

c:\users\lenovo\appdata\local\programs\python\python36\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [32]:
#view model parameters
model

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

### Model Evaluation

In [35]:
#simple evaluation on training data
pred_labels=model.predict(training_feature)
actual_labels=np.array(outcome_labels['Recommend'])

In [36]:
#evaluate model performance
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report

In [37]:
print('Accuracy:',float(accuracy_score(actual_labels,
                                      pred_labels))*100,'%')
print('Classification Stats:')
print(classification_report(actual_labels,pred_labels))

Accuracy: 100.0 %
Classification Stats:
              precision    recall  f1-score   support

          No       1.00      1.00      1.00         5
         Yes       1.00      1.00      1.00         3

   micro avg       1.00      1.00      1.00         8
   macro avg       1.00      1.00      1.00         8
weighted avg       1.00      1.00      1.00         8

### Model Development

In [38]:
from sklearn.externals import joblib

In [39]:
import os

In [40]:
#save modelsto be deployed on your server
if not os.path.exists('Model'):
    os.mkdir('Model')
if not os.path.exists('Scaler'):
    os.mkdir('Scaler')
    
joblib.dump(model,r'Model/model.pickle')
joblib.dump(ss,r'Scaler/scaler.pickle')

['Scaler/scaler.pickle']

### Prediction in Action

In [41]:
#load model and scaler object
model=joblib.load(r'Model/model.pickle')
scaler=joblib.load(r'Scaler/scaler.pickle')

In [42]:
#data retrieval
new_data=pd.DataFrame([{'Name':'Yashu','OverallGrade':'B','Obedient':'N','ResearchScore':'70','ProjectScore':'80'},
                      {'Name':'Anshu','OverallGrade':'A','Obedient':'Y','ResearchScore':'78','ProjectScore':'50'}])
new_data=new_data[['Name','OverallGrade','Obedient','ResearchScore','ProjectScore']]
new_data

    Name OverallGrade Obedient ResearchScore ProjectScore
0  Yashu            B        N            70           80
1  Anshu            A        Y            78           50

In [44]:
#data preperation
prediction_features=new_data[feature_names]

In [47]:
#scaling
prediction_features[numeric_feature_name]=scaler.transform(prediction_features[numeric_feature_name])

c:\users\lenovo\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:2: DataConversionWarning: Data with input dtype object were all converted to float64 by StandardScaler.

In [49]:
#engineering categorical variables
prediction_features=pd.get_dummies(prediction_features,
                                  columns=categorical_feature_name)

In [50]:
#view feature set
prediction_features

,ResearchScore,ProjectScore,OverallGrade_A,OverallGrade_B,Obedient_N,Obedient_Y
0,0.22384,1.1607,0,1,1,0
1,0.494137,-0.134966,1,0,0,1

In [51]:
# add missing categorical feature columns
current_categorical_engineered_features=set(prediction_features.columns)-set(numeric_feature_name)

In [52]:
missing_features=set(categorical_engineered_features)-current_categorical_engineered_features

In [53]:
for feature in missing_features:
    # add zeros since feature is absent in these data samples
    prediction_features[feature]=[0]*len(prediction_features)

In [55]:
#view final feature set
prediction_features

,ResearchScore,ProjectScore,OverallGrade_A,OverallGrade_B,Obedient_N,Obedient_Y,OverallGrade_F,OverallGrade_E,OverallGrade_C
0,0.22384,1.1607,0,1,1,0,0,0,0
1,0.494137,-0.134966,1,0,0,1,0,0,0

In [56]:
#predict using model
predictions=model.predict(prediction_features)

In [57]:
#display results
new_data['Recommend']=predictions
new_data

    Name OverallGrade Obedient ResearchScore ProjectScore Recommend
0  Yashu            B        N            70           80       Yes
1  Anshu            A        Y            78           50       Yes